#xpcontentpress{
	width:100%;
	float:left;	
}

#xpcontentpress .filter-search{
	width:40%;
	float:left;	
    margin:2px 5px; 
}

#xpcontentpress .cat-children{
	width:auto;
	float:left;
	padding:0;
	margin:2px 5px;
}

#xpcontentpress .cat-children select{
	padding:8px 10px;
    padding-right: 25px;
	border:solid 1px #ccc;
	border-radius:5px;
	width:auto;
	min-height:36px;
}

#xpcontentpress .filter-search input.inputbox{
	width:60%;
	float:left;
	padding:8px 10px;
	border:solid 1px #ccc;
	border-radius: 5px;
	color:#000;
	margin-right:10px;
}

#xpcontentpress .filter-search input.button{
	background:#5E5E5E;
	color:#fff;
	text-align:center;
	padding:8px 10px;
	border:none;
	border-radius: 5px;
	cursor:pointer;
}

#xpcontentpress .alphabet{
	width:100%;
	float:left;
	margin: 20px 0;
}

#xpcontentpress .alphabet ul {
	list-style: none;
	padding: 0;
}

#xpcontentpress .alphabet ul li{
	display: inline-block;
    margin: 0 4px 10px 0;
}

#xpcontentpress .alphabet input {
	display: none;
}

#xpcontentpress .alphabet label {
	cursor: pointer;
}

#xpcontentpress .alphabet label{
	padding:3px 5px;
	border:solid 1px #5E5E5E;
	background:#fff;
	color:#5E5E5E;
	font-weight:bold;
	text-decoration:none;
}
#xpcontentpress .alphabet label:hover,
#xpcontentpress .alphabet input:checked + label {
	color:#fff;
	border:solid 1px #5E5E5E;
	background:#5E5E5E;
	text-decoration:none;
}
div.metakey {
    margin-bottom: 10px;
}
 a.active {
    color: #5E5E5E;
    font-weight: bold;
}

#xpcontentpress .pagination, #xpcontentpress p.counter{
	text-align:center;	
}

#xpcontentpress .pagination ul{
	text-align:center;
	margin:0;
	padding:0;	
}

#xpcontentpress .pagination ul li{
	width:auto;
	display:inline-block;
	margin:0;
	padding:0 3px;
	list-style:none;
}

#xpcontentpress .pagination ul li a{
	padding:2px 10px;
	background:none;
	color:#000;
	text-decoration:none;
	font-weight:normal;	
}

#xpcontentpress .pagination ul li span.pagenav, #xpcontentpress .pagination ul li a:hover{
	padding:2px 10px;
	color:#000;
	font-weight:bold;
}

#xpcontentpress .pagination ul li.pagination-start span.pagenav,
#xpcontentpress .pagination ul li.pagination-prev span.pagenav,
#xpcontentpress .pagination ul li.pagination-next span.pagenav,
#xpcontentpress .pagination ul li.pagination-end span.pagenav{
	border:none;
	padding:inherit;
	font-weight:normal;
	background:none;
	color:inherit;
}

#xpcontentpress table.category{
	width:100%;
	border-top:solid 1px #e4e4e4;
	border-left:solid 1px #e4e4e4;	
}

#xpcontentpress table.category thead a, 
#xpcontentpress table.category thead a:hover, 
#xpcontentpress table.category thead a.active{
	color:#5E5E5E;
	background:none;
	text-decoration:none;			
}

#xpcontentpress table.category th.list-title{
	width:40%;
	text-align:left;
}

#xpcontentpress table.category th.list-author{
	width:30%;
	text-align:center;
}

#xpcontentpress table.category th.list-hits{
	width:15%;
	text-align:center;
}
#xpcontentpress table.category th.list-category{
    width:25%;
    text-align:center;
}

#xpcontentpress table.category th{
	background:#F5F5F5;	
	padding:8px 5px;	
	border-bottom:solid 1px #e4e4e4;
	border-right:solid 1px #e4e4e4;	
}

#xpcontentpress table.category th.border-none, 
#xpcontentpress table.category td.border-none, 
#xpcontentpress table.category tr.cat-list-row0 td.border-none, 
#xpcontentpress table.category tr.cat-list-row1 td.border-none{
	border-right:none;	
}

#xpcontentpress table.category tr.cat-list-row0{
	background:#fff;	
}

#xpcontentpress table.category tr.cat-list-row1{
	background:#F5F5F5;	
}

#xpcontentpress table.category tr.cat-list-row0:hover, 
#xpcontentpress table.category tr.cat-list-row1:hover{
	background: #e4e4e4;		
}

#xpcontentpress table.category tr.cat-list-row0 td, 
#xpcontentpress table.category tr.cat-list-row1 td{
	border-bottom:solid 1px #e4e4e4;
	border-right:solid 1px #e4e4e4;
	padding:8px 10px;		
}

#xpcontentpress table.category tr{
	margin:3px 0;	
}

#xpcontentpress table.category td{
	padding:5px;
	font-size:12px;
}

/***** BLOG LAYOUT *****/

#xpblog-category{
	width:100%;
	float:left;	
}

.xpblog-item{
	float:left;
	margin:0 20px 20px 0;
	padding-bottom:5px;
	border:solid 1px #ccc;
}

.xppadding{
	padding:10px;
}

.xpblog-item-img{
	width:100%;
	float:left;
	margin-bottom:10px;
}

.xpblog-item h3, .xpblog-item .created, 
.xpblog-item .modified, 
.xpblog-item .published{
	margin:0 0 10px 0 !important;	
}

.xpblog-item-info{
	font-size:12px;
	padding:5px 10px;
	border-top:solid 1px #ccc;
	font-weight:bold;		
}

.w0{
	width:auto;	
}

.w100{
	width:100%;	
}

.w50{
	width:50%;	
}

.float-left{
	float:left;	
}

.float-right{
	float:right;	
}

.text-right{
	text-align:right;	
}
p.notify {display: none;}













